@switch (stepperOrientation | async) {
  @case ('horizontal') {
    <div>Make your screen smaller to see a vertical stepper</div>
  }
  @case ('vertical') {
    <div>Make your screen larger to see a horizontal stepper</div>
  }
}

<div class="stepper">
  <mat-stepper [orientation]="(stepperOrientation | async)!">
    <mat-step >
      <form [formGroup]="kundeinformationen">
        <ng-template  matStepLabel>Fill out your name</ng-template>
        <ng-template matStepContent>
          <div  class="container person">
          <div class="row d-flex align-content-center ">
            <div class="col ">
              <div class="row justify-content-md-center">
                <div class="col-6 ">
                    <div class=" d-flex flexcol justify-content-between flex-sm-wrap">
                      <div class="col-md-auto personicon align-self-center">
                        <mat-icon class="img">person</mat-icon>
                      </div>

                      <div class="input">
                        <mat-form-field appearance="outline">
                          <mat-label>Vorname</mat-label>
                          <input style="" matInput placeholder="Ihr Vorname" required>
                        </mat-form-field>
                      </div>
                      <div class="input">
                        <mat-form-field appearance="outline">
                          <mat-label>Nachname</mat-label>
                          <input matInput  placeholder="Ihr Nachname" required>
                        </mat-form-field>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div  class="container email">
          <div class="row d-md-flex align-content-md-center">
            <div class="col">
              <div class="row justify-content-md-center">
                <div class="col-6 ">
                  <div style="align-self: center" class=" d-flex mail justify-content-md-between gap-sm-0 flex-sm-wrap">
                    <div class=" col-md-auto align-self-center">
                      <mat-icon class="img">alternate_email</mat-icon>
                    </div>

                    <div   class="input inputmaill" >
                      <mat-form-field  class="mailinput" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                               placeholder="Bs. pat@example.com">
                        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                          <mat-error>Bitte geben Sie eine gültige E-Mail-Adresse ein</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                          <mat-error>Email ist <strong>erforderlich!</strong></mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


          <div  class="container phone">
            <div class="row d-md-flex align-content-md-center">
              <div class="col">
                <div class="row justify-content-md-center">
                  <div class="col-6 ">
                    <div style="align-self: center" class=" d-flex mail justify-content-md-between flex-sm-wrap">

                      <div class=" col-md-auto align-self-center">
                        <mat-icon class="img">smartphone</mat-icon>
                      </div>

                      <div   class="input inputmaill" >
                        <mat-form-field class="phoneinput" style="" appearance="outline">
                          <mat-label>Phone number</mat-label>
                          <span matTextPrefix style="padding-right: 15px">+49 &nbsp;</span>
                          <input matInput type="tel" formControlName="tel"  required>
                          <mat-icon style="color: #30b61b" matSuffix>phone</mat-icon>
                          <mat-hint style="color: #DC143C; font-weight: bold; margin-top: 5px">z.B. +49123456789</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div  class="container adresse">
            <div class="row d-md-flex align-content-md-center">
              <div class="col">
                <div class="row justify-content-md-center">
                  <div class="col-6 ">
                    <div style="align-self: center" class=" d-flex mail justify-content-md-between flex-sm-wrap">

                      <div class=" col-md-auto align-self-center">
                        <mat-icon class="img">share_location</mat-icon>
                      </div>

                      <div style=" "  class="input inputmaill inputadresse" >
                        <mat-form-field style="width: 20em; margin-right: 10.9em" appearance="outline">
                          <mat-label>Adresse</mat-label>
                          <input [matMenuTriggerFor]="menu" matInput type="adresse" formControlName="adresse"  required>
                          <mat-hint style="color: #DC143C; font-weight: bold; padding-top: 5px">Bitte geben Sie die Standortadresse Ihres Autos ein!</mat-hint>
                        </mat-form-field>
                        <mat-menu class="menu" style=""  #menu="matMenu">
                          <div>
                            <button style="width: 17rem; height: 3rem; font-size: 1.3rem " mat-icon-button>
                              <div style="display: flex; flex-direction: row; justify-content: space-between; align-content:space-between">
                                <div>
                                  <mat-icon class="btnimg">assistant_navigation</mat-icon>
                                </div>
                                <div>
                                  <span style="margin-right: 30px">Mein Standort</span>
                                </div>
                              </div>

                            </button>
                          </div>
                        </mat-menu>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </form>
    </mat-step>
    <mat-step  label="Fill out your address">
      <form >
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button >Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
