.stepper{
  margin-top: 0;
  overflow: hidden !important;
  height: auto;
  width: 900px;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgb(218, 220, 224);
  color: black ;
}
.col-6{
  height: 5rem;
  width: 70%;
  margin-left: 20px;
}
.mat-step-text-label{
 font-weight: 500 !important;
  font-family: sans-serif;
}

.mat-step-header .mat-step-icon {
  font-weight: initial;
}

.menu{
  margin-top: 1.2em !important;
  position: fixed !important;
  padding: 0 !important;
  border-radius:2px 2px 15px 15px !important;
  max-height: 7rem !important;
}

.img{
  transform: scale(3);
  font-weight: bold;
  color: rgba(5, 5, 5, 0.55);

}
.btnimg{
  transform: scale(1.5);
  font-weight: bold;
  //color: #ffffff;
  margin-top: 4px;
  margin-left: 10px;
  color: rgb(27, 63, 182) !important;
  //border-radius: 17px;
}

.input{
  margin-top: 1rem;
}
.email{
  margin-top: 2%;
}
.phone{
  margin-top: 2%;
}
.inputmaill{

  align-self: center;
}
.mailinput{
  width: 20em;
  margin-right: 10.9em;
}
.nachname{
}

.phoneinput{
  width: 20em; margin-right: 10.9em;
}
.inputadresse{
  margin-left: 53px;
}


.adresse{
  margin-top: 3%;
  height: 14rem;
}
.person{
  margin-top: 2%;
}
.hausnr{
  width: 8em;
}
.plz{
  width: 8em;
  margin-top: 20px
}
.stadt{
  margin-top: 20px;
}
.service{
  margin-left: 9.5rem;
}
.selectedservice{
  margin-left: 8px;
  margin-top: 10px;
}

.selectedservice{
  .mat-mdc-chip-option{
    height: 50px !important;
  }
}

@media screen and (max-width: 380px){
  .stepper{
    width: 375px;
  }
}
@media screen and (max-width: 820px) {
  .stadt{
    margin-top: -10px;
    justify-content: center;
    .mat-form-field{
      width: 5rem !important;
    }
  }
  .termincontainer{
    margin-right: 3rem !important;
  }
  .hausnr{
    margin-top: 2rem;
  }
  .plz{
    margin-top: 0;
  }
  .img{
    margin-top: 2rem;
  }
  .person{
    margin-top: 0;
  }
  .flexcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .stepper{
    max-width: 400px;
    height: auto;
  }
  .email{
    margin-top: 9rem;
  }
  .phone{
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
  }
  .input{
    margin-left: 0.75rem;
    //margin-top: 1rem;
  }
  .mail{
    margin-top: 0.5rem;

  }
  .adresseimg{
    margin-left: 10px;
  }
  .inputmaill{
    align-self: flex-start;
    margin-left: 0;

  }

  .phoneicon{
    align-self: flex-end;
  }
  .adresse{
    margin-top: 5.5rem;
    height: 20rem;
    margin-bottom: 3.5rem;
  }
  .btn{

  }
  .service{
    margin-top: 10px;
    margin-bottom: 3rem;
    margin-left: 0;
  }
  .selectedservice{
    margin-top: 25px;

  }
  .mail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .phone{
    margin-right: 10px;

  }
  .mailinput{
    margin-left: 12px;
    width: 16rem;
  }
  .personinput{
    width: 16rem;
  }
  .phoneinput{
    width: 16rem;
    margin-left: 12px;
  }
  *, ::after, ::before {
    box-sizing: unset;
  }
  .inputadresse{
    margin-left: -40px;

  }
  .personicon{
    margin-left: 0.9rem;
  }
  .img{
    transform: scale(1.8);
  }

}
