<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px;font-family: 'Roboto', sans-serif !important;">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Neue Aufträge</b></h1>
  </div>
  <div style="margin-top: 30px">

    <mat-card>
      <mat-card-header>
        <div>
          <mat-card-title>
            <div class="input-group">
              <input type="search" style="height: 37px;margin-right: 2px" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchTerm" />
              <button mat-raised-button color="primary" (click)="filterAuftragsListe()">Search</button>
            </div>
          </mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-actions>
        <!-- auftrags.component.html -->
        <!-- Tabelle zur Anzeige der Auftragsdaten -->
        <table class="table table-striped table-hover" style="margin-top: 30px">
          <thead class="table-dark">
          <tr>
            <th class="text-center">Auftragsnummer</th>
            <th class="text-center">Name</th>
            <th class="text-center">Adresse</th>
            <th class="text-center">Telefon Nummer</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <!-- Schleife durch die auftragsListe und Anzeige der Daten -->
          <tr *ngFor="let auftrag of (filteredAuftragsListe.length > 0 ? filteredAuftragsListe : auftragsListe)">

          <td class="text-center align-content-center">{{ auftrag.auftragsnummer }}</td>
            <td class="text-center">
              <!-- Hier kann das Name- und E-Mail-Format je nach Datenstruktur angepasst werden -->
              <div class="d-flex align-items-center">
                <div class="rounded-circle align-content-center" style="width: 45px; height: 45px; align-content: center; align-items: center">
                  <mat-icon style="scale: 1.9; margin-left: 10px; margin-top: 5px; color: #736f6f"> account_circle</mat-icon>
                </div>
                <div class="ms-3 text-start">
                  <p class="fw-bold mb-1">{{ auftrag.kundeinformationen.firstName }} {{ auftrag.kundeinformationen.lastName }}</p>
                  <p class="text-muted mb-0">{{ auftrag.kundeinformationen.email }}</p>
                </div>
              </div>
            </td>
            <td class="text-center align-content-center">
              <ng-container *ngIf="auftrag.kundeinformationen.plz && auftrag.kundeinformationen.stadt">
                <p class="fw-bold mb-1">{{ auftrag.kundeinformationen.adresse}}</p>
                <p class="text-muted mb-0">{{ auftrag.kundeinformationen.plz }} {{ auftrag.kundeinformationen.stadt }}</p>
              </ng-container>
              <ng-container *ngIf="!auftrag.kundeinformationen.plz && !auftrag.kundeinformationen.stadt">
                <button mat-icon-button (click)="openLinkInNewTab(auftrag.kundeinformationen.adresse)">
                  <mat-icon style="color: #0b2e9f;">my_location</mat-icon>
                </button>
              </ng-container>
            </td>
            <td class="text-center align-content-center"> <span>{{ auftrag.kundeinformationen.tel }}</span></td>
            <td class="text-center align-content-center"> <span style="padding: 5px 10px; font-size: 13px;" class="badge badge-warning text-dark">Ausstehend</span></td>
            <td class="text-center align-content-center">
              <button mat-raised-button color="primary" (click)="openDetailsDialog(auftrag)">Öffnen</button>
            </td>
          </tr>
          </tbody>
        </table>

      </mat-card-actions>
      <mat-paginator showFirstLastButtons  [pageSizeOptions]="[5, 10, 20]" aria-label="Select page" (page)="changePage($event)">
      </mat-paginator>
    </mat-card>

  </div>
</div>
