body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.mat-badge-warn {
  --mat-badge-background-color: #3d1870 !important;
  --mat-badge-text-color: snow !important;
}
