
  <!-- Sidebar/menu -->
  <nav (window:load)="startPolling()" class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" (click)="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div style="padding: 15px; background: white" class="w3-container">
      <img src="/assets/homelogo.jpg" alt="Mobile Muster Service Logo" style="width: 100%; max-width: 100%; height: 80px">
    </div>
    <div style="margin-top: 80px" class="w3-bar-block">
      <a  routerLink="auftrag" [state]="{ parentData: parentData }" routerLinkActive="w3-white" style="overflow: visible; padding-bottom: 15px; padding-top: 15px; margin-bottom: 5px" class="w3-bar-item position-relative w3-button demo-section w3-hover-white" >
        <i style="margin-right: 10px;" class="fa-solid fa-table"></i>
        <span>Neue Aufträge</span>
        <span style=" margin-left: 10px; margin-top: 10px; color: #3b2366" class="badge position-absolute top-0 rounded-pill badge-primary">{{totalanzahl}}</span>
      </a>
      <a routerLinkActive="w3-white" routerLink="history" style="padding-bottom: 15px; padding-top: 15px;  margin-bottom: 5px"  class=" w3-bar-item w3-button w3-hover-white">
        <i style="margin-right: 10px;" class="fa-solid fa-clock-rotate-left"></i>
        <span>Fertiggestellte Aufträge</span>
      </a>
      <a routerLinkActive="w3-white" style="padding-bottom: 15px; padding-top: 15px; margin-bottom: 5px" class="w3-bar-item w3-button w3-hover-white">
        <i  style="margin-right: 10px;"  class="fa-solid fa-gear"></i>
        <span>Einstellungen</span></a>
    </div>
    <a style="margin-top: 250px" class="w3-bar-item w3-button w3-hover-white">
      <i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i> Abmelden
    </a>
  </nav>


  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" (click)="w3_open()">☰</a>
    <span>Muster</span>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<router-outlet></router-outlet>


  <!-- W3.CSS Container -->
  <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a> edited by me</p></div>

