<!-- Auftraginformationen -->
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Auftraginformationen</h2>
  </div>
  <div style="margin-top: 0 !important; padding-top: 0!important;" class="d-flex gap-5">
    <div style="margin-left: 70px" class="">
      <ul class="list-group list-group-light list-group-big ">
        <li style="color: #6e6e6e; font-weight: bold" class="list-group-item px-3">Auftragsnummer</li>
        <li style="color: #6e6e6e; font-weight: bold" class="list-group-item px-3">Timestamp</li>
        <li style="color: #6e6e6e; font-weight: bold" class="list-group-item px-3">Serviceoption</li>
      </ul>
    </div>
    <div class="">
      <ul class="list-group list-group-light list-group-big">
        <li style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.auftragsnummer }}</span></li>
        <li style="color: black" class="list-group-item px-3"><span>{{ formatTimestamp(data.auftrag.timestamp)}}</span></li>
        <li style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.kundeinformationen.auswahl }}</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Kundeinformationen</h2>
  </div>
  <div style="margin-top: 0 !important; padding-top: 0!important;" class="d-flex gap-5">
    <div style="margin-left: 70px" class="">
      <ul class="list-group list-group-light list-group-big ">
        <li style="color: #6e6e6e; font-weight: bold" class="list-group-item px-3">Vorname</li>
        <li style="color: #6e6e6e; font-weight: bold " class="list-group-item px-3">Nachname</li>
        <li style="color: #6e6e6e; font-weight: bold" class="list-group-item px-3">Telefon</li>
        <li style="color: #6e6e6e; font-weight: bold" class="list-group-item px-3">E-Mail</li>
        <li style="color: #6e6e6e; font-weight: bold" class="list-group-item px-3">Adresse</li>
        <li style="color: #6e6e6e; font-weight: bold" *ngIf="data.auftrag.kundeinformationen.hausnummer" class="list-group-item px-3">Hausnummer</li>
        <li style="color: #6e6e6e; font-weight: bold" *ngIf="data.auftrag.kundeinformationen.plz" class="list-group-item px-3">PLZ</li>
        <li style="color: #6e6e6e; font-weight: bold" *ngIf="data.auftrag.kundeinformationen.stadt" class="list-group-item px-3">Stadt</li>
      </ul>
    </div>
    <div class="">
      <ul class="list-group list-group-light list-group-big">
        <li style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.kundeinformationen.firstName }}</span></li>
        <li style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.kundeinformationen.lastName }}</span></li>
        <li style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.kundeinformationen.tel }}</span></li>
        <li style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.kundeinformationen.email }}</span></li>
        @if (data.auftrag.kundeinformationen.stadt){
          <li style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.kundeinformationen.adresse }}</span></li>
        } @else {
          <li style="color: black" class="list-group-item px-3">
            <button mat-icon-button (click)="openLinkInNewTab()">
              <mat-icon class="fa-solid fa-location-arrow" style="color: #275af8;"></mat-icon>
            </button>
          </li>
        }

        <li *ngIf="data.auftrag.kundeinformationen.hausnummer" style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.kundeinformationen.hausnummer }}</span></li>
        <li *ngIf="data.auftrag.kundeinformationen.plz " style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.kundeinformationen.plz }}</span></li>
        <li *ngIf="data.auftrag.kundeinformationen.stadt" style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.kundeinformationen.stadt }}</span></li>
      </ul>
    </div>
  </div>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Fahrzeuginformationen</h2>
  </div>
  <div style="margin-top: 0 !important; padding-top: 0!important;" class="d-flex gap-5">
    <div style="margin-left: 70px" class="">
      <ul class="list-group list-group-light list-group-big ">
        <li style="color: #6e6e6e; font-weight: bold" class="list-group-item px-3">Automarke</li>
        <li style="color: #6e6e6e; font-weight: bold" class="list-group-item px-3">Fahrzeugtyp</li>
        <li style="color: #6e6e6e; font-weight: bold" *ngIf="data.auftrag.autoinformationen.reifengroesse" class="list-group-item px-3">Reifengröße</li>
        <li style="color: #6e6e6e; font-weight: bold" *ngIf="data.auftrag.autoinformationen.radgroesse" class="list-group-item px-3">Radgröße</li>
        <li style="color: #6e6e6e; font-weight: bold" *ngIf="data.auftrag.autoinformationen.radgroesse" class="list-group-item px-3">Räderart</li>
        <li style="color: #6e6e6e; font-weight: bold" *ngIf="!data.auftrag.autoinformationen.radgroesse" class="list-group-item px-3">Anzahl Reifen</li>
        <li style="color: #6e6e6e; font-weight: bold" *ngIf="data.auftrag.autoinformationen.radgroesse" class="list-group-item px-3">Anzahl Rädern</li>
      </ul>
    </div>
    <div class="">
      <ul class="list-group list-group-light list-group-big">
        <li  style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.autoinformationen.automarke }}</span></li>
        <li  style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.autoinformationen.fahrzeugtyp }}</span></li>
        @if (data.auftrag.autoinformationen.radgroesse){
          <li  style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.autoinformationen.radgroesse }}</span></li>
          <li class="list-group-item px-3"><span>{{ data.auftrag.autoinformationen.raederart }}</span></li>
        }
        @if (data.auftrag.autoinformationen.reifengroesse){
          <li  style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.autoinformationen.reifengroesse }}</span></li>
        }
        <li  style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.autoinformationen.anzahlreifen }}</span></li>
      </ul>
    </div>
  </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Termininformationen</h2>
      </div>
      <div style="margin-top: 0 !important; padding-top: 0!important; margin-bottom: 10px; padding-bottom: 15px;" class="d-flex gap-5">
        <div style="margin-left: 70px" class="">
          <ul class="list-group list-group-light list-group-big ">
            <li style="color: #6e6e6e; font-weight: bold"  class="list-group-item px-3">Termin Datum</li>
            <li style="color: #6e6e6e; font-weight: bold"  class="list-group-item px-3">Termin Uhrzeit</li>
          </ul>
        </div>
        <div class="">
          <ul class="list-group list-group-light list-group-big">
            <li style="color: black" class="list-group-item px-3"><span>{{ formatDate(data.auftrag.termin.termindatum) }}</span></li>
            <li style="color: black" class="list-group-item px-3"><span>{{ data.auftrag.termin.terminuhrzeit }}</span></li>
          </ul>
        </div>
      </div>
    </div>
  <div class="card-body ">
    <div class="d-flex justify-content-between">
      <button *ngIf="data.button1Enabled" mat-raised-button color="primary" style="background-color: #0aa348 !important;" class="card-link" (click)="confirmOrder()">
        <mat-icon style="overflow: visible !important;" class="fa-regular fa-circle-check"></mat-icon>
        Bestätigen
      </button>

      <button *ngIf="data.button1Enabled" mat-raised-button color="primary" style="background-color: #da1313 !important;" class="card-link" (click)="declineOrder()">
        <mat-icon style="overflow: visible !important;" class="fa-solid fa-ban"></mat-icon>
        Ablehnen
      </button>
      <button *ngIf="!data.button1Enabled" mat-raised-button color="primary" style="background-color: #3958bd !important;" class="card-link" (click)="close()">
        <mat-icon style="overflow: visible !important;" class="fa-regular fa-circle-xmark"></mat-icon>
        Schließen
      </button>

    </div>
  </div>
</div>
</div>
