<div style="padding: 20px" class="container mt-5">
  <div style="padding-bottom: 50px; " class="row">
    <img src="/assets/homelogo.jpg" alt="Mobile Majouno Service Logo" style="width: 330px; height: 90px;">
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- Absenderinformationen -->
      <div style="text-decoration: underline;">
        Autoverwertung Majouno - Maarstr. 40 53227 Bonn<br>
      </div>
      <br>
      AMW Wenting<br>
      Handelsweg 11<br>
      7021BZ Zelhem Niederland
    </div>

    <div class="col-md-6 text-end">
      <!-- Empfängerinformationen -->
      Mobile ReifenService Majouno<br>
      Maarstraße 40<br>
      53227 Bonn<br>
      <div style="margin-top: 20px">
        Tel.: 0228 / 460780<br>
        Fax: 0228 / 2273106<br>
      </div>
    </div>
  </div>

  <!-- Rechnungskopf -->
  <h2 class="mt-4">Rechnung</h2>

  <div style="font-weight: bold" class="row text-center">
    <!-- Rechnungsdetails -->
    <div class="col-md-4 mb-3">
      Rechnung Nr.: 2022-11-15421<br>
    </div>
    <!-- Rechnungsdetails -->
    <div class="col-md-4 mb-3">
      Kunde Nr.: 1160<br>
    </div>
    <!-- Rechnungsdetails -->
    <div class="col-md-4 mb-3">
      Datum: 01.11.2022
    </div>
  </div>
  <hr class="border-bottom">

  <!-- Tabelle für Positionen -->
  <table class='table mt-4'>
    <thead style="background: #da1313">
    <tr >
      <th style="color: white" scope="col">Pos</th>
      <th style="color: white" scope="col" colspan="3">Leistung</th>
      <th style="color: white" scope="col">MwSt</th>
      <th style="color: white" scope="col">Einzelpreis</th>
      <th style="color: white" scope="col">Anzahl</th>
      <th style="color: white" scope="col">Gesamtpreis</th>
    </tr>
    </thead>
    <tbody>
    <!-- Tabelleninhalte hier einfügen -->
    </tbody>
  </table>


  <!-- Fußzeile -->
  Majouno Autoverwertung<br/>
  Märsche 40, 53227 Bonn<br/>
  Tel.: 0228 / 46 87 80
</div>
