<div style="padding: 20px" class="a4-container mt-5" id="rechnungDiv">
  <div style="padding-bottom: 50px; " class="row">
    <img src="/assets/homelogo.jpg" alt="Mobile Majouno Service Logo" style="width: 330px; height: 90px;">
  </div>
  <div style="min-height: 270mm">
  <div class="row">
    <div class="col-md-6">
      <!-- Absenderinformationen -->
      <div style="text-decoration: underline;">
        Autoverwertung Majouno - Maarstr. 40 53227 Bonn<br>
      </div>
      <br>
      <div style="color: black">
        {{data.kundeinformationen.firstName}} {{data.kundeinformationen.lastName}}<br>
        <span *ngIf="data.kundeinformationen.plz">
        {{ data.kundeinformationen.adresse }} {{ data.kundeinformationen.hausnummer }}<br>
          {{ data.kundeinformationen.plz }} {{ data.kundeinformationen.stadt }}
      </span>
      </div>

      <span *ngIf="turnoff">
        <input type="text" placeholder="Adresse eingeben" [(ngModel)]="adresse.strasse">
        <input type="text" placeholder="Hausnummer eingeben" [(ngModel)]="adresse.hsnr">
        <input type="text" placeholder="PLZ eingeben" [(ngModel)]="adresse.plz">
        <input type="text" placeholder="Stadt eingeben" [(ngModel)]="adresse.stadt">
      </span>

    </div>

    <div class="col-md-6 text-end">
      <!-- Empfängerinformationen -->
      Autoverwertung Majouno<br>
      Maarstraße 40<br>
      53227 Bonn<br>
      <div style="margin-top: 20px">
        Tel.: 0228 / 460780<br>
        Fax: 0228 / 2273106<br>
      </div>
    </div>
  </div>

  <!-- Rechnungskopf -->
  <h2 class="mt-4" style="color: black">Rechnung</h2>

  <div style="font-weight: bold" class="row text-center">
    <!-- Rechnungsdetails -->
    <div class="col-md-4 mb-3">
      Rechnung Nr.: 2022-11-15421<br>
    </div>
    <!-- Rechnungsdetails -->
    <div class="col-md-4 mb-3">
      Auftrag Nr.: {{ data.auftragsnummer }}<br>
    </div>
    <!-- Rechnungsdetails -->
    <div class="col-md-4 mb-3">
      Datum: {{ data.timestamp | date:'yyyy-MM-dd' }}
    </div>
  </div>
  <hr class="border-bottom">

  <!-- Tabelle für Positionen -->
  <table class='table mt-4'>
    <thead style="background: #da1313">
    <tr >
      <th style="color: white" scope="col">Pos</th>
      <th style="color: white" scope="col" colspan="4">Leistung</th>
      <th style="color: white" scope="col">MwSt</th>
      <th style="color: white" scope="col">Einzelpreis</th>
      <th style="color: white" scope="col">Anzahl</th>
      <th style="color: white" scope="col">Gesamtpreis</th>
      <th *ngIf="!isSaved" style="color: white" scope="col"></th> <!-- Platz für den Button zum Entfernen des Artikels -->
    </tr>
    </thead>
    <tbody>
      @if (isSaved){
        <tr *ngFor="let artikel of data.artikelListe; let i = index">
          <td>{{ i + 1 }}</td>
          <td colspan="4">
            <span>
              {{ artikel.leistung }}
            </span>
          </td>
          <td>
            19%
          </td>
          <td>
            <span>
              {{ artikel.einzelpreis }} Euro
            </span>
          </td>
          <td>
            <span>
              {{ artikel.anzahl }} Stück
            </span>
          </td>
          <td>
            <span>{{artikel.gesamtpreis}} Euro</span>
          </td>
        </tr>
      } @else {
        <tr *ngFor="let artikel of data.artikelListe; let i = index">
          <td>{{ i + 1 }}</td>
          <td colspan="4">
            <input
              type="text"
              placeholder="Leistung eingeben"
              [(ngModel)]="artikel.leistung">
          </td>
          <td>
            19%
          </td>
          <td>
            <input style="width:60px" type="number" placeholder="Einzelpreis eingeben" [(ngModel)]="artikel.einzelpreis" (input)="artikel.gesamtpreis = artikel.einzelpreis*artikel.anzahl"> Euro
          </td>
          <td>
            <input style=" width:40px" type="number" placeholder="Anzahl eingeben" [(ngModel)]="artikel.anzahl" (input)="artikel.gesamtpreis = artikel.einzelpreis*artikel.anzahl"> Stück
          </td>
          <td>
            <span [(ngModel)]="artikel.gesamtpreis">{{artikel.einzelpreis*artikel.anzahl}}</span> Euro
          </td>
          <td>
            <button (click)="removeArtikel(i)">Entfernen</button>
          </td>
        </tr>
      }

    </tbody>
  </table>
  <hr class="border-bottom">

  <div style="margin-left: 480px; color: black" class="col-md-6 text-start">
    <!-- Empfängerinformationen -->
    <div style="margin-top: 50px">
      <span>
        Nettobetrag: {{getNettoBetrag()}} Euro<br>
      </span>
      <span>
        zzgl. 19% MwSt: {{getMwSt()}} Euro<br>
      </span>
      <span style="font-weight: bold">
        Gesamtbetrag: {{getGesamtBetrag()}} Euro<br>
      </span>
    </div>
  </div>

  <!-- Button zum Hinzufügen eines neuen Artikels -->
  <button *ngIf="!isSaved" (click)="addArtikel()">Neuen Artikel hinzufügen</button><br>
  </div>
  <hr style="margin-top: 80px" class="border-bottom">

  <!-- Fußzeile -->
  <div style="" class="row small footer">
    <div class="col-md-4 text-start">
      Majouno Autoverwertung<br/>
      Maarstraße 40,<br/> 53227 Bonn
    </div>
    <div class="col-md-4">
      Tel.: 0228 460 780<br>
      Mobil: 0170 327 937 9<br>
      <a href="http://www.majouno-autoverwertung.de" class="text-light">www.majouno-autoverwertung.de</a><br>
      <a href="mailto:info@majouno-autoverwertung.de" class="text-light">info&commat;majouno-autoverwertung.de</a>
    </div>
    <div class="col-md-4">
      SparKasse Köln/Bonn<br>
      IBAN: DE55 3705 0198 0000 0118 41<br>
      Kontoinhaber: Hasan Majouno<br>
      USt-IdNr, DE177827357<br>
      Finanzamt: Bonn Außenstadt
    </div>
  </div>
</div>
<div>
  <div class="d-flex justify-content-around fixed-bottom p-3 bg-light" style="padding: 20px; background: #4f4f4ff2 !important;">
    <button mat-raised-button style="background-color: #0c58ae; color: white" (click)="onSave()">Speichern <mat-icon class="fa-solid fa-floppy-disk"></mat-icon></button>
    <button mat-stroked-button style="background-color: white; color: #0c58ae" (click)="change()">Bearbeiten <mat-icon class="fa-regular fa-pen-to-square"></mat-icon></button>
    <button mat-raised-button color="primary" (click)="print()" [disabled]="!isSaved">Drücken <mat-icon class="fa-solid fa-print"> </mat-icon>
    </button>
    <button mat-raised-button color="primary" class="btn" style="background-color: #28a745 !important; color: white" (click)="send()" [disabled]="!isSaved">Senden <mat-icon class="fa-regular fa-paper-plane"></mat-icon></button>
  </div>
</div>


