<header style=" " class="shadow-sm p-3 mb-5 bg-body header">
  <div style=" padding: 10px" class="container d-md-flex d-sm-inline-flex justify-content-center gap-4">
    <div style="color: white; font-size: 45px; font-weight: bold; " class="befor align-self-center">
      <p style=""><span class="text-border">Mobile ReifenService</span></p>
    </div>
    <div class="logo">
      <img Src="assets/Logo_Reifenmann.png" alt="Mein logo" style="height:130px; width:180px">
    </div>
    <div style="color: white; font-size: 45px; font-weight: bold" class="after align-self-center">
      <p><span class="text-border">Majouno</span></p>
    </div>
  </div>
</header>
<div style="display:flex; flex-direction: column; justify-content: center; align-items: center;justify-items: center" class="">
    <div style="" class="containe">
      <div class="colored-top">
      </div>
      <div style="margin-top: 3em;" class="remaining-content container d-flex row">
        <div class="d-flex justify-content-center title">
          <p>Mobile ReifenService <span style="color: #DC143C">Majouno</span></p>
        </div>
        <div style="padding: 0 1em 0 2em; margin-top: 3em; color: #6c6c6c; font-size: 17px; line-height: 25px; letter-spacing: 0.5px">
          <div style="color: #1a1a1a" class="d-flex justify-content-center">
            <div class="align-self-center">
              <p class="text-center" style="letter-spacing: 1.2px; padding-bottom: 15px">Willkommen bei Majouno – Ihrem zuverlässigen Partner für Reifen- und Räderwechsel in der Region Bonn und Köln!</p>
            </div>
          </div>
          <p style="">Sparen Sie wertvolle Zeit und erleben Sie höchsten Komfort bei der Terminvereinbarung für Ihren Reifen- oder Räderwechsel. Bei Majouno können Sie ganz einfach, schnell und bequem Ihren Termin buchen.</p>
          <p>Unser Service ist darauf ausgerichtet, Ihren Alltag zu erleichtern. Nach Ihrer Bestätigung stehen wir Ihnen innerhalb von nur 30 Minuten an Ihrem Wunschort zur Verfügung. Mit unserem professionellen Team und hochwertigem Equipment wechseln wir Ihre Reifen oder Räder direkt vor Ort.<br></p>
          <p>Vertrauen Sie auf Majouno für einen reibungslosen und zeitoptimierten Service. Buchen Sie jetzt Ihren Termin und genießen Sie die Sicherheit und Bequemlichkeit, die wir bieten!<br>
          </p>
        </div>
      </div>
    </div>
  <div style="margin-top: 1em">
    <app-stepper></app-stepper>
  </div>
</div>

