<div class="back">
  <div class="containe">
    <div class="colored-top">
    </div>
    <div class="remaining-content">
    </div>
  </div>
  <div class="stepper">
    <mat-stepper #stepper>
      <mat-step >
        <form>
          <ng-template  matStepLabel>Fill out your name</ng-template>
          <div style="margin-top: 40px" class="container">
            <div class="row">
              <div class="col">
                <div class="row justify-content-md-center">
                  <div class="col-md-auto align-self-center">
                    <mat-icon class="img">person</mat-icon>
                  </div>
                  <div class="col-6">
                    text
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row justify-content-md-center">
                  <div class="col-md-auto align-self-center">

                  </div>
                  <div class="col-6">
                    text
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div style="margin-top: 40px" class="container">
          <div class="row justify-content-md-center">
            <div class="col">
              <div class="row justify-content-md-center">
                <div class="col-md-auto align-self-center">
                  <mat-icon class="img">alternate_email</mat-icon>
                </div>
                <div class="col-6">

                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                           placeholder="Ex. pat@example.com">
                    <mat-hint style="color: #DC143C; font-weight: bold">Hint</mat-hint>
                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                      <mat-error>Bitte geben Sie eine gültige E-Mail-Adresse ein</mat-error>
                    }
                    @if (emailFormControl.hasError('required')) {
                      <mat-error>Email ist <strong>erforderlich!</strong></mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row justify-content-md-center">
                <div class="col-md-auto align-self-center">
                  <mat-icon class="img">smartphone</mat-icon>
                </div>

                <div class="col-6">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 40px" class="container">
          <div class="row">
            <div class="col">
              <div class="row justify-content-md-center">
                <div class="col-md-auto align-self-center">
                  <mat-icon class="img">person_pin_circle</mat-icon>
                </div>
                <div class="col-6">
                  text
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row justify-content-md-center">
                <div class="col-md-auto align-self-center">
                  icon
                </div>
                <div class="col-6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step  label="Fill out your address">
        <form >
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button >Reset</button>
        </div>
      </mat-step>
    </mat-stepper>

  </div>
</div>
