<header style=" " class="header">
  <div style=" padding: 20px" class="container">
    <div class="logo">
      logo
    </div>
  </div>
</header>
<div style="display:flex; flex-direction: column; justify-content: center; align-items: center;justify-items: center" class="">
    <div class="containe">
      <div class="colored-top">
      </div>
      <div style="margin-top: 3em" class="remaining-content">
        Test Test
      </div>
    </div>
  <div style="margin-top: 3em">
    <app-stepper></app-stepper>
  </div>
</div>

