<header style=" " class="shadow-sm d-flex p-3 mb-5 bg-body header">
  <div class="logo align-self-center">
    <img Src="../../../assets/homelogo.jpg" alt="Mein logo" class="mylogo" style="height:8rem; width:24rem; background: white; padding: 8px;">
  </div>
</header>
<div style="display:flex; flex-direction: column; justify-content: center; align-items: center;justify-items: center; margin-top: 4em !important;" class="">
  <div style="" class="containe d-sm-flex justify-content-center">
    <div class="colored-top">
    </div>
    <div style="" class="remaining-content container d-flex row">
      <div class="d-flex justify-content-center title">
        <p >Mobile ReifenService <span style="color: #DC143C">Muster</span></p>
      </div>
      <div style="" class="beschreibung">
        <div style="color: #1a1a1a" class="d-flex justify-content-center">
          <div class="align-self-center">
            <p class="text-center" style="letter-spacing: 1.2px; padding-bottom: 15px">Willkommen bei Muster – Ihrem zuverlässigen Partner für Reifen- und Räderwechsel in der Region Bonn und Köln!</p>
          </div>
        </div>
        <p style="">Sparen Sie wertvolle Zeit und erleben Sie höchsten Komfort bei der Terminvereinbarung für Ihren Reifen- oder Räderwechsel. Bei Muster können Sie ganz einfach, schnell und bequem Ihren Termin buchen.</p>
        <p>Unser Service ist darauf ausgerichtet, Ihren Alltag zu erleichtern. Nach Ihrer Bestätigung stehen wir Ihnen innerhalb von nur 30 Minuten an Ihrem Wunschort zur Verfügung. Mit unserem professionellen Team und hochwertigem Equipment wechseln wir Ihre Reifen oder Räder direkt vor Ort.<br></p>
        <p>Vertrauen Sie auf Muster für einen reibungslosen und zeitoptimierten Service. Buchen Sie jetzt Ihren Termin und genießen Sie die Sicherheit und Bequemlichkeit, die wir bieten!<br>
        </p>
      </div>
    </div>
  </div>
  <div style="margin-top: 3em">
    <div  class="coll-mitte">
    </div>
    <app-stepper></app-stepper>
  </div>
</div>


<!-- Footer Section -->

<div style="padding-top: 20px" class="mt-5 bg-dark text-light ">
  <div class="container">
    <div class="d-flex flex-column flex-wrap flex-md-row justify-content-center gap-4">
      <div style="font-size: 14px; color: #d2bca9">
        <strong>Info</strong>
      </div>
      <div style="line-height: 25px; font-size: 0.85rem;">
        <ul style="list-style-type: none; padding: 0;">
          <li><strong>Mobile ReifenService Muster</strong></li>
          <li>Muster 40</li>
          <li>D-53119 Bonn</li>
          <li><a href="http://www.muster-autoverwertung.de" class="text-light">www.muster-autoverwertung.de</a></li>
          <li><a href="mailto:info@muster-autoverwertung.de" class="text-light">info&commat;muster-autoverwertung.de</a></li>
          <li>Tel.: <a href="tel:+4912345678" class="text-light">0123 / 456780</a></li>
          <li>Fax: <a href="tel:+4912345678" class="text-light">0123 / 563106</a></li>
        </ul>
      </div>
      <div style="margin-left: 20px" class="d-flex footerdiv justify-content-start gap-4">
        <div style="font-size: 14px; color: #d2bca9">
          <strong>Unsere Öffnungszeiten</strong>
        </div>
        <div style="line-height: 25px; font-size: 0.85rem;">
          <ul style="list-style-type: none; padding: 0;">
            <li><strong style="padding-right:5px ">Mo</strong> 8 Uhr - 18 Uhr</li>
            <li><strong style="padding-right:13px ">Di</strong> 8 Uhr - 18 Uhr</li>
            <li><strong style="padding-right:10px ">Mi</strong> 8 Uhr - 18 Uhr</li>
            <li><strong style="padding-right:9px ">Do</strong> 8 Uhr - 18 Uhr</li>
            <li><strong style="padding-right:14px ">Fr</strong> 8 Uhr - 18 Uhr</li>
            <li><strong style="padding-right:9px ">Sa</strong> 8 Uhr - 18 Uhr</li>
            <li><strong style="padding-right:9px ">So</strong> Geschlossen</li>
          </ul>
        </div>
      </div>
      <div style="margin-left: 20px" class="d-flex footerdiv justify-content-start gap-4">
        <div style="font-size: 14px; color: #d2bca9">
          <strong>Rechtliche Hinweise</strong>
        </div>
        <div style="line-height: 25px; font-size: 0.9rem;">
          <ul style="list-style-type: none; padding: 0;">
            <li><a href="#">Impressum & Rechtliches</a></li>
            <li><a href="#">Datenschutz & Privatsphäre</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div style="color: #a6a6a6; margin-top: 10px; " class="py-3 text-center border-top">Mobile Reifenservice Muster &copy; 2024</div>
  </div>
</div>
