
body {
  margin: 0;
  padding: 0;

  background: rgba(255, 235, 238, 0.62) no-repeat;

  --mdc-filled-text-field-container-color: white;
  --mat-form-field-subscript-text-size: 0.8rem;
  //--mat-form-field-subscript-text-color: white;
  --mdc-outlined-text-field-label-text-font: sans-serif;
  //--mat-form-field-container-vertical-padding: 1px;
  --mdc-outlined-text-field-outline-width: 3px;
  --mdc-outlined-text-field-outline-color: rgba(0, 0, 0, 0.47);
  //--mdc-outlined-text-field-hover-outline-color
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-focus-outline-width: 3px;

  --mat-stepper-container-text-font: Helvetica,-apple-system, Arial, san-serif, sans-serif;
  --mat-stepper-header-label-text-font: -apple-system, Arial, san-serif, sans-serif;

}

.containe{
  height: 500px;
  width: 900px;
  margin-top: -30px;
  border-radius: 14px;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  transition: box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgb(218, 220, 224);
  color: black ;
}
.header{
  height: 12rem; width: auto;
  background-color: #DC143C !important;
}
.text-border{
  font-family: 'Madimi One',sans-serif; font-style: normal;
  -webkit-text-stroke: 1px black; /* WebKit-basierte Browser */
  text-shadow: 0 0 1px black;
  padding: 3px;
}
.beschreibung{
  padding: 0 1em 0 2em;
  margin-top: 3em;
  color: #6c6c6c;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.title{
  margin-top: 10px;
  font-family: "Kranky","Comic Sans MS",sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
}
.colored-top{
  content: "";
  top: -1px;
  left: -3px;
  width: calc(100% + 6px);
  position: absolute;
  height: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(218, 19, 24); /* Farbe des oberen Teils */
}
.img{
  transform: scale(3);
  font-weight: bold;
  color: rgba(5, 5, 5, 0.55);
}
.input{
  margin-top: 1rem;
}
@media screen and (max-width: 800px) {
  .beschreibung{
    width: 96%;
    padding: 2px;
  }
  .remaining-content{
    padding: 0 20px 0 20px;
  }
  .title{
   line-height: 40px;
  }
  .containe{
    height: auto;
    width: 100%;
  }
  .header{
    height: auto;
  }
  .footerdiv{
    margin-left: 0 !important;
  }
}
